@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
	/* Color variables */
	--clr-white: rgb(255, 255, 255);
	--clr-black: rgb(0, 0, 0);

	--clr-primary-red: rgb(128, 0, 0);
	--clr-primary-orange: rgb(249, 125, 1);

	--clr-0: rgba(0, 0, 0, 0);
	--clr-black-25: rgba(0, 0, 0, 0.25);
	--clr-black-50: rgba(0, 0, 0, 0.5);
	--clr-black-75: rgba(0, 0, 0, 0.75);
	--clr-black-80: rgba(0, 0, 0, 0.8);

	--clr-white-25: rgba(255, 255, 255, 0.25);
	--clr-white-50: rgba(255, 255, 255, 0.5);
	--clr-white-75: rgba(255, 255, 255, 0.75);

	/* Font size variable */
	--fs-header-01: 3.052rem;
	--fs-header-02: 2.441rem;
	--fs-header-03: 1.953rem;
	--fs-header-04: 1.563rem;
	--fs-large: 1.25rem;
	--fs-regular: 1rem;
	--fs-small: 0.8rem;

	/* Font weight variable */
	--fw-regular: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-color: #fff;
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
}

.body-wrapper {
	position: relative;
	overflow-x: hidden;
	width: 100%;
	max-width: 100%;
}

.main-section-container {
	max-width: 1280px;
	margin: 0 auto;

	/* border: 2px black dashed; */
}

.directory > .main-section-container {
	width: 100%;
}
/* Header starts here */

/* Header */
header {
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 99;
}

/* Header container */
.header-container {
	position: absolute;
	top: 0;
	height: 128px;
	width: 100%;
	max-width: 1280px;
	padding: 24px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Open Sans", sans-serif;
}

/* Logo part */
header .logo {
	display: flex;
	align-items: center;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

header .logo.hidden {
	visibility: hidden;
}

header .logo img {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-right: 16px;
}

header .logo-name {
	line-height: 100%;
	font-size: 16px;
	font-weight: 600;
}

header .logo-name b {
	font-size: 14px;
	font-weight: 400;
}

/* Nav and search */
.header-items {
	display: flex;
	align-items: center;
}

/* Navigation */
header ul {
	position: relative;
	display: flex;
	gap: 32px;
}

/* Nav elements */
header ul li {
	list-style: none;
}

header ul li a {
	position: relative;
	text-decoration: none;
	display: flex;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
}

header ul li a i {
	padding-left: 6px;
}

/* Nav dropdown & dropend */

header ul li .dropdown {
	min-width: 200px;
	top: 35px;
	display: none;
	flex-direction: column;
	gap: 16px;
	position: absolute;
	padding: 15px;
	background: rgba(0, 0, 0, 1);
	font-size: 14px;
}

.dropdown li .dropend {
	top: 0;
	right: 100%;
	display: none;
	flex-direction: column;
	gap: 16px;
	position: absolute;
	padding: 15px;
	background: rgba(0, 0, 0, 1);
	font-size: 14px;
}

.dropdown li a {
	display: flex;
	justify-content: space-between;
}

.dropdown > li,
.dropend > li {
	position: relative;
}

/* Set width*/
.dropend.about {
	width: 180px;
}

.dropend {
	margin-top: -15px;
	margin-right: 15px;
}

.dropend.acad {
	width: 420px;
}

.dropdown.students {
	width: 300px;
}

/* Show dropdown and dropend */
header ul li:focus-within > ul,
.dropdown li:focus-within > .dropend {
	display: flex;
}

/* Line beneath navs*/
header ul li a::before {
	content: "";
	position: absolute;
	bottom: -2px;
	width: 40px;
	height: 2px;
	background-color: #f97d01;
	transform: scaleX(0);
	transition: transform 0.5s ease-in-out;
	transform-origin: right;
	z-index: 1;
}

/* Show line on hover*/
header ul li a:hover::before {
	transform: scaleX(1);
	transform-origin: left;
}

/* Search div*/
header .search {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 23px;
	z-index: 1000;
	cursor: pointer;
	color: #fff;
}

/* Max length and hides nav */
.search-box {
	position: absolute;
	right: -100%;
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	padding: 0px 30px;
	transition: 0.2s ease-in-out;
}

/* Show seach bar */
.search-box.active {
	right: 0;
	display: flex;
}

/* Search input box */
.search-box input {
	width: 100%;
	border: none;
	outline: none;
	height: 50px;
	color: white;
	font-size: 16px;
	background: #000;
	border-radius: 20px;
	padding: 20px 0;
	padding-left: 20px;
	padding-right: 70px;
}

/* Search button */
.search-btn {
	position: relative;
	left: 30px;
	transition: 0.2s ease-in-out;
}

/* Hides search button */
.search-btn.active {
	left: 0;
}

/* Close button */
.close-btn {
	opacity: 0;
	visibility: hidden;
	transition: 0.2s;
	scale: 0;
}

/* Show close button */
.close-btn.active {
	opacity: 1;
	visibility: visible;
	transition: 0.2s;
	scale: 1;
}

/* Menu button */
.menu-toggle {
	position: relative;
	display: none;
}

/*Department header, contains program name and header background */
.department-header {
	height: 400px;
	width: 100%;
	background: linear-gradient(
			0deg,
			rgba(87, 0, 0, 0.925) 0%,
			rgba(190, 107, 23, 0.925) 100%
		),
		url("../assets/images/pup-background_03.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	font-family: "Open Sans", sans-serif;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 4px;
}

/* Contains the content of department header */
.department-header-container {
	width: 100%;
	max-width: 1280px;
	display: flex;
	padding: 64px 40px;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 16px;
	flex: 1 0 0;
	align-self: stretch;
}

/* Program title */
.department-header-container h1 {
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 48px */
	text-transform: uppercase;
}

/* Undergraduate text */
.department-header h2 {
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 100%; /* 24px */
	text-transform: uppercase;
}

/* Responsive Design */
@media (max-width: 1260px) {
	.search-btn {
		left: 0;
	}

	.dropend {
		margin-top: 0;
		margin-right: 0;
	}

	/* Display burger menu */
	.menu-toggle {
		position: absolute;
		display: block;
		font-size: 23px;
		cursor: pointer;
		color: #fff;
		transform: translateX(30px);
		z-index: 1001;
	}

	/* Hides the navigation links */
	header .navbar-item {
		display: hidden;
		position: absolute;
		opacity: 0;
		visibility: hidden;
		left: 100%;
	}

	/* Hides the close button while the menu is open */
	.hidden {
		visibility: hidden;
	}

	/* When the navs does not fit anymore */
	header.open .navbar-item {
		height: calc(100vh - 128px);
		width: 500px;
		top: 128px;
		opacity: 1;
		visibility: visible;
		transform: translateX(-100%);
		right: 0;
		display: flex;
		flex-direction: column;
		background-color: #000;
		padding: 16px 16px;
		gap: 16px;
		overflow-x: hidden;
		overflow-y: scroll;
		scrollbar-width: none;
		-ms-overflow-style: none;
		transition: transform 0.5s ease-in-out;
		z-index: 100;
	}

	/* Hide scrollbar */
	header.open .navbar-item::-webkit-scrollbar {
		display: none;
	}

	header.open .navbar-item li a {
		font-size: 16px;
	}

	/* Display of dropdowns and dropends */
	header.open .navbar-item .dropdown {
		width: 100%;
		top: 0;
		flex-direction: column;
		padding: 0;
		padding-top: 16px;
		padding-left: 20px;
	}

	header.open .navbar-item .dropdown li {
		display: block;
	}

	header.open .navbar-item .dropdown li a {
		display: block;
	}

	header.open .navbar-item .dropdown li .dropend {
		width: 100%;
		right: 0;
		position: relative;
		padding: 0;
		padding-top: 16px;
		padding-left: 20px;
	}

	/* Display of dropdowns and dropends when on focus-within*/
	header ul li:focus-within > .dropdown,
	.dropdown li a:focus-within > .dropend {
		position: relative;
		display: flex;
	}
}

@media screen and (max-width: 720px) {
	/* Adjust the height of header */
	.header-container {
		height: 100px;
	}

	/* Adjust the size of logo*/
	header .logo img {
		height: 60px;
		width: 60px;
		margin-right: 12px;
	}

	/* Hides the logo name */
	header .logo-name {
		display: none;
	}

	/* Maximize the width of navigation container */
	header.open .navbar-item {
		height: calc(100vh - 100px);
		width: 100%;
		top: 100px;
		padding: 16px 48px;
	}

	/* Display of dropdowns and dropends */
	header.open .navbar-item li a {
		display: flex;
		justify-content: space-between;
	}

	header.open .navbar-item .dropdown li a {
		display: flex;
		justify-content: space-between;
	}
	/* Adjust the height of department header */
	.department-header {
		height: 250px;
		gap: 4px;
	}

	/* Adjust the padding and gap of header container */
	.department-header-container {
		gap: 12px;
		padding-bottom: 36px;
	}

	/* Adjust font-size of headers */
	.department-header-container h1 {
		font-size: 36px;
	}

	.department-header h2 {
		font-size: 20px;
	}
}

/* For small screens */
@media screen and (max-width: 600px) {
	/* Hides the logo name */
	.logo-name {
		display: none;
	}

	/* Adjust the gap of header texts */
	.department-header-container {
		gap: 12px;
	}

	/* Adjust font-size of headers */
	.department-header-container h1 {
		font-size: 28px;
	}

	.department-header h2 {
		font-size: 14px;
	}
}

/* For small screens (phone) */
@media (max-width: 450px) {
	/* Adjust the height of department header */
	.department-header {
		height: 200px;
	}

	/* Adjust the padding of container */
	.department-header-container {
		gap: 8px;
		padding-bottom: 30px;
	}

	/* Adjust font-size of headers */
	.department-header-container h1 {
		font-size: 20px;
	}

	.department-header h2 {
		font-size: 12px;
	}
}
/* Header ends here */

/* Directory starts here */
.directory {
	width: 100%;
	height: 66px;
	background-color: var(--clr-white);
	box-shadow: 0px 1px 5px var(--clr-black-50);
	font-family: "Open Sans", sans-serif;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.directory-contents {
	display: flex;
	align-items: center;
	padding: 40px;
}

.directory-contents a span {
	color: var(--clr-primary-red);
	font-weight: var(--fw-bold);
}

.directory-contents a {
	color: var(--clr-black);
}

.directory-contents i {
	color: var(--clr-black-50);
}

.directory-contents a,
.directory-contents a span,
.directory-contents i {
	font-size: var(--fs-small) !important;
	text-decoration: none;
	text-align: center;
}

.directory-contents a,
.directory-contents i {
	margin-right: 16px;
}

/* Directory ends here */

/* Program section starts here */
/* Section Container (Program Contents and Sidebar Contents)  */

.section-container {
	display: grid;
	grid-template-columns: 1fr 25%;
	gap: 40px;
}

.program-contents {
	display: flex;
	flex-direction: column;
	margin-bottom: 80px;
	box-sizing: border-box;
	width: 100%;
}

.sidebar-contents {
	box-sizing: border-box;
}

/* ------------------------------------------------------------------------------  */

/* Program Contents */
.program-desc,
.specialization-fields,
.program-educ-obj,
.program-outcomes,
.career-opportunities,
.admission-requirements,
.retention-requirements,
.graduation-requirements {
	display: flex;
	flex-direction: column;
	padding-inline: 40px;
	padding-block: 24px;
	gap: 16px;
}

.program,
.curriculum {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.program-desc .program,
.program-desc .curriculum {
	padding-block: 8px;
}

.program-contents .course-title {
	padding-inline: 40px;
	padding-top: 40px;
	padding-bottom: 24px;
	color: var(--clr-primary-red);
	font-size: var(--fs-header-04);
	font-weight: bold;
}

.program-contents h4 {
	color: var(--clr-primary-red);
	font-size: var(--fs-large);
	font-weight: bold;
}

.program-contents p,
.program-contents li {
	line-height: 2;
	font-size: var(--fs-regular);
}

/* Program Description starts here */
.content-table {
	border-collapse: separate;
	border-spacing: 0 8px;
	/* margin: 16px auto; */
	/* min-width: 320px; */
	/* width: 100%; */
}

.content-table thead tr {
	background-color: var(--clr-primary-red);
	text-align: left;
}

.content-table thead tr,
.content-table .total,
.content-table .total-units {
	color: var(--clr-white);
}

.content-table th,
.content-table td {
	font-size: var(--fs-regular);
}

.content-table th,
.content-table .total {
	padding: 10px 16px;
}

.content-table td:not(.total) {
	padding: 10px 40px;
}

.content-table .category {
	border-radius: 25px 0 0 25px;
}

.content-table .cred-units {
	border-radius: 0 25px 25px 0;
	text-align: center;
}

.content-table tbody tr {
	background-color: #f7f7f7;
}

.content-table tbody tr:last-of-type {
	background-color: var(--clr-primary-orange);
	font-weight: bold;
}

/* @media (max-width: 450px) {
	.program-desc {
		margin-left: 16px;
		margin-right: 16px;
	}

	.content-table th,
	.content-table td {
		padding: 8px 10px;
		font-size: 12px;
	}
} */
/* Program Description ends here */

/* Specialization Field starts here */
.specialization-fields .fields {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.specialization-fields .fields .field {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	gap: 16px;
	padding-inline: 16px;
	padding-block: 24px;
	color: var(--clr-white);
	border-radius: 10px;
	background: var(--clr-primary-red);
}

.field span {
	font-size: var(--fs-regular);
	font-weight: var(--fw-semi-bold);
	line-height: 1.5;
}

.specialization-fields .fields .field i {
	font-size: var(--fs-header-01);
}
/* Program Education Objective starts here */
.program-educ-obj ul {
	padding-left: 20px;
}
/* Program Education Objective ends here */

/* Program Outcomes starts here */
.outcome {
	display: grid;
	grid-template-columns: 40px 1fr;
	place-items: center start;
	gap: 16px;
	width: 100%;
}

.outcomes {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.program-outcomes .outcome .outcome-num {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	width: 35px;
	color: var(--clr-white);
	border-radius: 50%;
	background: var(--clr-primary-red);
	box-shadow: 0px 5px 5px var(--clr-black-25);
}

.program-outcomes .outcome .outcome-desc {
	display: flex;
	align-items: center;
	justify-content: start;
	width: 100%;
	border-radius: 10px;
	padding: 16px;
	background: var(--clr-white);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
/* Program Outcomes ends here */

/* Career Oppurtunities starts here */
.career-opportunities {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.level-group {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.level-group .level-list {
	display: flex;
	flex-direction: column;
	padding-left: 40px;
	gap: 8px;
}

.career-opportunities ul {
	padding-left: 20px;
}
/* Career Oppurtunities ends here */

/* Admission Requirements starts here */
.admission-requirements {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.admission-requirements ul {
	padding-left: 20px;
}
/* Admission Requirements ends here */

/* Retention Requirements starts here */

/* Retention Requirements ends here */

/* Graduation Requirements starts here */

/* Graduation Requirements ends here */

/* Sidebar starts here */
.sidebar-contents {
	height: 100%;
	padding-inline: 16px;
}

.sidebar-list {
	position: sticky;
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 24px;
	top: 0;
	padding-top: 40px;
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding-inline: 16px;
	padding-block: 16px;
	border-left: solid 2px var(--clr-black-25);
}

.sidebar-title {
	color: var(--clr-primary-red);
	font-size: var(--fs-regular);
}

.sidebar-item {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.parent,
.child {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.sidebar-item a {
	text-decoration: none;
	color: var(--clr-black-80);
}

.sidebar-item .parent p {
	font-size: var(--fs-small);
}

.sidebar-item .child p {
	padding-left: 16px;
	font-size: var(--fs-small);
}
/* Sidebar ends here */

/* Footer starts here */
/* Footer */
footer {
	width: 100%;
	background: linear-gradient(
			0deg,
			rgba(87, 0, 0, 0.925) 0%,
			rgba(87, 0, 0, 0.925) 100%
		),
		url("../assets/images/pup-background_03.jpg");
	background-size: cover;
	background-position: top;
	font-family: "Open Sans", sans-serif;
	color: #fff;
}

/* Contains the elements within the footer */
.footer-container {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	padding: 40px;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	align-self: stretch;
}

/* Logo */
footer .logo {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

/* Hides the other logo-name for small screens */
.outside {
	display: none;
}

/* Adjust logo img size */
footer .logo img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

/* Modify logo name */
footer .logo-name {
	text-transform: uppercase;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: 600;
}

footer .logo-name b {
	color: #f97d01;
	font-size: 14px;
	font-weight: 400;
}

/* Social links container */
.social-links {
	width: 100%;
	display: flex;
	padding: 16px 40px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
}

/* Social icons container */
.icon-links {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 32px;
}

/* Social icons */
.icon-links a i {
	text-decoration: none;
	color: #f97d01;
	font-size: 24px;
}

/* Line divider */
.divider {
	width: 90%;
	min-width: 300px;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.5);
}

/* quick links container */
.quick-links {
	display: flex;
	padding: 16px 40px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

/* website links container */
.quick-links .website-links {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 12px;
}

/* website links */
.quick-links .website-links li a {
	text-transform: none;
	text-decoration: none;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
}

/* website links divider */
.website-links .divider-circle {
	height: 4px;
	width: 4px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.5);
}

/* about links container */
.quick-links .about-links {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 16px;
}

/* about links */
.quick-links .about-links li a {
	text-transform: none;
	text-decoration: none;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}

/* about links divider */
.about-links .divider-v {
	height: 24px;
	width: 1px;
	background-color: rgba(255, 255, 255, 0.5);
}

/* Hover effect for links */
.icon-links a i:hover,
.icon-links a i:active {
	color: #fff;
}

.about-links li a:hover,
.about-links li a:active,
.website-links li a:hover,
.website-links li a:active {
	color: #f97d01;
}

/* Responsive design */
@media (max-width: 750px) {
	/* Hides the logo name between logo images */
	.within {
		display: none;
	}

	/* Show the logo name beneath logo images */
	.outside {
		display: block;
	}
}

@media (max-width: 500px) {
	/* Adjust the sizes of footer elements to fit the screen better */
	footer .logo {
		gap: 12px;
	}

	footer .logo img {
		height: 60px;
		width: 60px;
	}

	footer .logo-name {
		font-size: 12px;
	}

	footer .logo-name b {
		font-size: 11px;
	}

	footer .icon-links {
		gap: 25px;
	}

	footer .social-links {
		font-size: 16px;
	}

	/* Footer ends here */
}

/* Universal media query */
@media (max-width: 1100px) {
	.specialization-fields .fields {
		display: flex;
		flex-direction: column;
		gap: 16px;
		justify-content: space-between;
	}
}

@media (max-width: 800px) {
	.section-container {
		grid-template-columns: 1fr;
	}

	.sidebar-list {
		position: relative;
		padding-bottom: 40px;
	}

	.program-contents {
		margin-bottom: 0px;
	}
}

@media (max-width: 500px) {
	.directory-contents a,
	.directory-contents a span,
	.directory-contents i {
		font-size: var(--fs-small) !important;
		text-decoration: none;
	}

	.program-contents h3 {
		font-size: var(--fs-header-04);
	}

	.content-table th,
	.content-table td {
		font-size: var(--fs-small);
	}

	.outcome {
		grid-template-columns: 1fr;
		place-items: center;
	}

	.outcome .outcome-num {
		width: 100% !important;
		height: 100% !important;
		border-radius: 10px !important;
		box-shadow: 0px 2px 2px var(--clr-black-25);
	}
}

@media (max-width: 500px) {
	.directory-contents {
		padding: 20px;
	}
}
