@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
	/* Color variables */
	--clr-white: rgb(255, 255, 255);
	--clr-black: rgb(0, 0, 0);

	--clr-primary-red: rgb(128, 0, 0);
	--clr-primary-orange: rgb(249, 125, 1);

	--clr-0: rgba(0, 0, 0, 0);
	--clr-black-25: rgba(0, 0, 0, 0.25);
	--clr-black-50: rgba(0, 0, 0, 0.5);
	--clr-black-75: rgba(0, 0, 0, 0.75);
	--clr-black-80: rgba(0, 0, 0, 0.8);

	--clr-white-25: rgba(255, 255, 255, 0.25);
	--clr-white-50: rgba(255, 255, 255, 0.5);
	--clr-white-75: rgba(255, 255, 255, 0.75);

	/* Font size variable */
	--fs-header-01: 3.052rem;
	--fs-header-02: 2.441rem;
	--fs-header-03: 1.953rem;
	--fs-header-04: 1.563rem;
	--fs-large: 1.25rem;
    --fs-medium: 1.1    rem;
	--fs-regular: 1rem;
	--fs-small: 0.8rem;

	/* Font weight variable */
	--fw-regular: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	background-color: var(--clr-white);
}

/* Utility classes starts here */
.section-container {
	max-width: 1280px;
	width: 100%;
}

.page-title {
	font-size: var(--fs-header-03);
	font-weight: var(--fw-bold);
	width: 100%;
	color: var(--clr-primary-red);
}

.page-subtitle {
	font-size: var(--fs-medium);
	font-weight: var(--fw-regular);
	width: 100%;
	color: var(--clr-black-75);
}

.title {
	font-size: var(--fs-large);
	font-weight: var(--fw-bold);
	width: 100%;
	color: var(--clr-primary-red);
}

.description {
	font-size: var(--fs-regular);
	font-weight: var(--fw-regular);
	line-height: 2;
	width: 100%;
	color: var(--clr-black);
}
/* Utility classes ends here */

/* Directory starts here */
.directory {
	width: 100%;
	height: 66px;
	background-color: var(--clr-white);
	box-shadow: 0px 1px 5px var(--clr-black-50);
	font-family: "Open Sans", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
}

.directory-contents {
	display: flex;
	align-items: center;
	padding: 40px;
}

.directory-contents a span {
	color: var(--clr-primary-red);
	font-weight: var(--fw-bold);
}

.directory-contents a {
	color: var(--clr-black);
}

.directory-contents i {
	color: var(--clr-black-50);
}

.directory-contents a,
.directory-contents a span,
.directory-contents i {
	font-size: var(--fs-small) !important;
	text-decoration: none;
	text-align: center;
}

.directory-contents a,
.directory-contents i {
	margin-right: 16px;
}
/* Directory ends here */

/* Main container starts here */
.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding-bottom: 80px;
}

.main-contents {
	display: grid;
	grid-template-columns: 1fr 25%;
	gap: 40px;
}

.contents {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding-inline: 40px;
	padding-block: 40px;
	width: 100%;
}

.section {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 100%;
}

.section ul {
    margin-left: 2.6em;
    color: var(--clr-primary-red);
    font-size: var(--fs-regular);
    font-weight: var(--fw-semi-bold);
}

.section a {
    text-decoration: none;
    color: var(--clr-primary-red);
    line-height: 2;
}

.section a:hover {
    text-decoration: underline;
}

/* Sidebar starts here */
.sidebar-contents {
	height: 100%;
	padding-inline: 16px;
}

.sidebar-list {
	position: sticky;
	display: flex;
	flex-direction: column;
    padding-top: 40px;
	width: 100%;
	gap: 24px;
	top: 0;
}

.sidebar {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding-inline: 16px;
	padding-block: 16px;
	border-left: solid 2px var(--clr-black-25);
}

.sidebar-title {
	color: var(--clr-primary-red);
	font-size: var(--fs-regular);
}

.sidebar-item {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.parent,
.child {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.sidebar-item a {
	text-decoration: none;
	color: var(--clr-black-80);
}

.sidebar-item .parent p {
	font-size: var(--fs-small);
}

.sidebar-item .child p {
	padding-left: 16px;
	font-size: var(--fs-small);
}

.sidebar-item a:hover {
    color: var(--clr-primary-red);
}

/* Sidebar ends here */

/* Main container responsiveness starts here */
@media (max-width: 1100px) {
	/* .specialization-fields .fields {
		display: flex;
		flex-direction: column;
		gap: 16px;
		justify-content: space-between;
	} */
}

@media (max-width: 800px) {
	.main-contents {
		grid-template-columns: 1fr;
	}

	.sidebar-list {
		position: relative;
        padding-top: 0px;
	}
}

@media (max-width: 500px) {
	.directory-contents a,
	.directory-contents a span,
	.directory-contents i {
		font-size: var(--fs-small) !important;
		text-decoration: none;
	}

	/* .program-contents h3 {
		font-size: var(--fs-header-04);
	}

	.content-table th,
	.content-table td {
		font-size: var(--fs-small);
	}

	.outcome {
		grid-template-columns: 1fr;
		place-items: center;
	}

	.outcome .outcome-num {
		width: 100% !important;
		height: 100% !important;
		border-radius: 10px !important;
		box-shadow: 0px 2px 2px var(--clr-black-25);
	} */
}
/* Main container responsiveness ends here */
/* Main container ends here */